{% extends 'base.html' %}

{% block title %}Criar Carro{% endblock %}

{% block content %}
    <h1>Criar Carro</h1>
    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="automovel" class="form-label">Automóvel:</label>
            <select name="automovel" id="automovel" class="form-select" required>
                {% for automovel in automoveis %}
                <option value="{{ automovel.pk }}">{{ automovel.marca }} - {{ automovel.modelo }} - {{ automovel.ano }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="cor" class="form-label">Cor:</label>
            <input type="text" name="cor" id="cor" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo:</label>
            <input type="text" name="tipo" id="tipo" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="numero_portas" class="form-label">Número de Portas:</label>
            <input type="number" name="numero_portas" id="numero_portas" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Criar Carro</button>
    </form>
{% endblock %}
