{% extends 'base.html' %}

{% block title %}Criar Novo Anúncio{% endblock %}

{% block content %}
    <h1 class="mt-4">Criar Novo Anúncio</h1>
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="preco_por_dia" class="form-label">Preço por dia:</label>
            <input type="text" id="preco_por_dia" name="preco_por_dia" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="disponibilidade" class="form-label">Disponibilidade:</label>
            <input type="text" id="disponibilidade" name="disponibilidade" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Criar</button>
    </form>
    <a href="{% url 'listar_anuncios' %}" class="btn btn-secondary mt-4">Voltar à Lista</a>
{% endblock %}
