{% extends 'base.html' %}

{% block title %}Criar Automóvel{% endblock %}

{% block content %}
    <h1 class="mt-4">Criar Automóvel</h1>

    <form method="POST" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}  <!-- Renderiza o formulário -->
        </div>
        <button type="submit" class="btn btn-primary">Salvar Automóvel</button>
    </form>

    <a href="{% url 'listar_automoveis' %}" class="btn btn-secondary mt-4">Voltar para a lista de automóveis</a>
{% endblock %}
