<!DOCTYPE html>
<html>
<head>
    <title>Lista de Carros</title>
</head>
<body>
    <h1>Lista de Carros</h1>
    <ul>
        {% for carro in carros %}
        <li>
            {{ carro.automovel.marca }} {{ carro.automovel.modelo }} - Cor: {{ carro.cor }} - Tipo: {{ carro.tipo }} - Portas: {{ carro.numero_portas }}
            <a href="{% url 'deletar_carro' carro.id %}">Deletar</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'criar_carro' %}">Criar Carro</a>
</body>
</html>
