{% extends 'base.html' %}

{% block title %}Lista de Anúncios{% endblock %}

{% block content %}
    <h1 class="mt-4">Lista de Anúncios</h1>
    <ul class="list-group mt-4">
        {% for anuncio in anuncios %}
        <li class="list-group-item">
            <!-- Informações do automóvel relacionado ao anúncio -->
            <strong>Automóvel:</strong> {{ anuncio.automovel.marca }} {{ anuncio.automovel.modelo }} (Ano: {{ anuncio.automovel.ano }})
            <br>
            
            <!-- Preço por dia -->
            <strong>Preço por dia:</strong> R$ {{ anuncio.preco_por_dia }}
            <br>
            
            <!-- Disponibilidade -->
            <strong>Disponibilidade:</strong> 
            {% if anuncio.disponibilidade %}
                Disponível
            {% else %}
                Indisponível
            {% endif %}
            <br>
            
            <!-- Descrição do anúncio -->
            <strong>Descrição:</strong> {{ anuncio.descricao }}
            <br>

            <!-- Informações do usuário -->
            <strong>Anunciante:</strong> {{ anuncio.usuario.nome }} ({{ anuncio.usuario.email }})
            <br>

            <div class="mt-2">
                <!-- Link para consultar mais informações do anúncio -->
                <a href="{% url 'consulta_anuncio' anuncio.pk %}" class="btn btn-info btn-sm">Consultar</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'criar_anuncio' %}" class="btn btn-primary mt-4">Criar Novo Anúncio</a>
{% endblock %}
