<!-- listar_usuarios.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Usuários</title>
</head>
<body>
    <h2>Lista de Todos os Usuários</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
